<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="/dist/output.css">
</head>

<body>
  <mat-toolbar color="primary">
    <img src="/assets/picpro_landscape_trp_final.png" style="max-width:85%; max-height:85%">
  </mat-toolbar>

  <mat-progress-bar mode="indeterminate" *ngIf="picproService.isLoading$ | async"></mat-progress-bar>

  <div class="content-container mat-elevation-z1">

    <div>
      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

      <div class="file-upload">
        <button mat-mini-fab color="primary" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <span class="file-input-text">{{inputImage?.name || "No file chosen yet."}}</span>
        <button mat-raised-button id="searchBtn" color="primary" class="align-middle upload-btn"
          (click)="triggerImageUpload(inputImage!)" [disabled]="!inputImage">Upload</button>
      </div>
    </div>
  </div>

  <div class="images-container-parent" *ngIf="inputImage">
    <div class="image-display left">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Input image</mat-card-title>
          <mat-card-subtitle>{{inputImage.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="inputImage.url">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Transform</button>
          <button mat-raised-button>Reset</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="image-display right" *ngIf="outputImage">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Output image</mat-card-title>
          <mat-card-subtitle>{{outputImage.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="outputImage.url">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Use as input</button>
          <button mat-button>Reset</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</body>

</html>