.file-input {
    display: none;
}

.file-input-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.images-container-parent {
    margin: 10px 0 10px 0;
    overflow: hidden;
}

.image-display {
    padding: 5px 0 20px 5px;
    width: 46%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.file-input-text {
    margin-left: 10px;
}

.spacing-small {
    margin-left: 15px;
}

.spacing-medium {
    margin-left: 30px;
}

.spacing-large {
    margin-left: 50px;
}

.trf-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

#content {
    padding: 10px 20px 10px 20px;
}

.trf-width {
    max-width: 170px;
}

.spacing-vertical-small {
    margin-top: 15px;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em;
}