<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="/dist/output.css">
</head>

<body>
  <mat-toolbar color="primary">
    <img src="/assets/picpro_landscape_trp_final.png" style="max-width:85%; max-height:85%">
  </mat-toolbar>
  <mat-progress-bar mode="indeterminate" *ngIf="picproService.isLoading$ | async"></mat-progress-bar>

  <div id="content">


    <mat-accordion class="trf-headers-align spacing-large" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Image
          </mat-panel-title>
          <mat-panel-description>
            Either upload a new file from the filesystem or choose a previously stored image
            <mat-icon>attach_file</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="file-input-container">

          <div class="align-middle">
            <mat-form-field appearance="fill">
              <mat-label>Select a stored image</mat-label>
              <mat-select [(value)]="chosenImageName">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let image of images" [value]="image">
                  {{ image }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="align-middle spacing-small">
            <button mat-raised-button id="chooseImageBtn" color="primary" (click)="triggerImageRetrieval()"
              [disabled]="!chosenImageName">Choose</button>
          </div>

          <div class="align-middle spacing-large">OR</div>

          <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

          <div class="align-middle spacing-large">
            <button mat-mini-fab color="primary" (click)="fileUpload.click()">
              <mat-icon>file_upload</mat-icon>
            </button>
          </div>

          <div class="align-middle spacing-small">
            <mat-form-field appearance="fill">
              <mat-label>Image name</mat-label>
              <input matInput autofocus type="text" [disabled]="!inputImage" [(ngModel)]="inputImageName"
                (keyup.enter)="triggerInputImageUpload()">
              <button *ngIf="inputImage" matSuffix mat-icon-button aria-label="Clear" (click)="inputImageName=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="align-middle spacing-small">
            <button mat-raised-button id="uploadBtn" color="primary" (click)="triggerInputImageUpload()"
              [disabled]="!inputImage || uploaded || !inputImageName">Upload</button>
          </div>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Transformations
          </mat-panel-title>
          <mat-panel-description>
            Apply a combination of transformation options to the chosen input image
            <mat-icon>transform</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="file-input-container">

          <div class="align-middle">
            <mat-form-field appearance="fill" class="trf-width">
              <mat-label>Output format</mat-label>
              <mat-select [(value)]="transformation.outputType">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let type of mimeTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="align-middle spacing-small">
            <mat-form-field appearance="fill" class="trf-width">
              <mat-label>Width</mat-label>
              <input matInput autofocus type="number" [(ngModel)]="transformation.width">
              <span matSuffix>px</span>
              <button *ngIf="transformation.width" matSuffix mat-icon-button aria-label="Clear"
                (click)="transformation!.width=undefined">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="align-middle spacing-small">
            <mat-form-field appearance="fill" class="trf-width">
              <mat-label>Height</mat-label>
              <input matInput autofocus type="number" [(ngModel)]="transformation.height">
              <span matSuffix>px</span>
              <button *ngIf="transformation.height" matSuffix mat-icon-button aria-label="Clear"
                (click)="transformation!.width=undefined">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="align-middle spacing-small">
            <mat-form-field appearance="fill" class="trf-width">
              <mat-label>Rotation angle</mat-label>
              <input matInput autofocus type="number" [(ngModel)]="transformation.rotationAngle">
              <span matSuffix>°</span>
              <button *ngIf="transformation.rotationAngle" matSuffix mat-icon-button aria-label="Clear"
                (click)="transformation!.rotationAngle=undefined">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="align-middle spacing-small">
            <mat-form-field appearance="fill" class="trf-width">
              <mat-label>Brightness</mat-label>
              <input matInput autofocus type="number" [(ngModel)]="transformation.brightness">
              <button *ngIf="transformation.brightness" matSuffix mat-icon-button aria-label="Clear"
                (click)="transformation!.brightness=undefined">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="align-middle spacing-small">
            <mat-form-field appearance="fill" class="trf-width">
              <mat-label>Hue</mat-label>
              <input matInput autofocus type="number" [(ngModel)]="transformation.hue">
              <span matSuffix>°</span>
              <button *ngIf="transformation.hue" matSuffix mat-icon-button aria-label="Clear"
                (click)="transformation!.hue=undefined">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="align-middle spacing-small">
            <mat-form-field appearance="fill" class="trf-width">
              <mat-label>Saturation</mat-label>
              <input matInput autofocus type="number" [(ngModel)]="transformation.saturation">
              <button *ngIf="transformation.saturation" matSuffix mat-icon-button aria-label="Clear"
                (click)="transformation!.saturation=undefined">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <div class="file-input-container spacing-vertical-small">
          <mat-checkbox ngDefaultControl [(ngModel)]="transformation.flip">Flip</mat-checkbox>
          <mat-checkbox ngDefaultControl class="spacing-small" [(ngModel)]="transformation.flop">Flop</mat-checkbox>
          <mat-checkbox ngDefaultControl class="spacing-small" [(ngModel)]="transformation.sharpen">Sharpen</mat-checkbox>
          <mat-checkbox ngDefaultControl class="spacing-small" [(ngModel)]="transformation.blur">Blur</mat-checkbox>
          <mat-checkbox ngDefaultControl class="spacing-small" [(ngModel)]="transformation.greyscale">Greyscale</mat-checkbox>
          <mat-checkbox ngDefaultControl class="spacing-small" [(ngModel)]="transformation.blackwhite">Black & White</mat-checkbox>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Presets
          </mat-panel-title>
          <mat-panel-description>
            Choose from a range of transformation presets or define a new preset from the current options
            <mat-icon>unarchive</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

    </mat-accordion>

    <div class="images-container-parent" *ngIf="uploaded || imageChosen">
      <div class="image-display left">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Input Image
            </mat-card-title>
            <mat-card-subtitle>{{inputImage?.name}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="inputImage?.url">
          <mat-card-content>
            <div *ngIf="inputImage?.metadata as data">
              <mat-card-title>Metadata</mat-card-title>
              <pre>
  Name: {{ inputImage?.name }}
  Type: {{ data.format | uppercase }}
  Size: {{ data.size | bytes:false }}
  Dimension: {{ data.width }} x {{ data.height }} px
  Density {{ data.density }} dpi
  Channels: {{ data.channels }}
            </pre>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="triggerImageTransformation()">Transform</button>
            <button mat-raised-button (click)="onInputImageReset()">Reset</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="image-display right" *ngIf="outputImage">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Output image</mat-card-title>
            <mat-card-subtitle>{{outputImage.name}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="outputImage.url">
          <mat-card-content>
            <div *ngIf="outputImage.metadata as data">
              <mat-card-title>Metadata</mat-card-title>
              <pre>
  Name: {{ outputImage.name }}
  Format: {{ data.format | uppercase }}
  Type: {{ data.size | bytes:false }}
  Dimension: {{ data.width }} x {{ data.height }} px
  Density {{ data.density }} dpi
  Channels: {{ data.channels }}
            </pre>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="triggerImageTransformation()">Use as input</button>
            <button mat-button (click)="onInputImageReset()">Reset</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</body>

</html>