<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="/dist/output.css">
</head>

<body>
  <mat-toolbar color="primary">
    <img src="/assets/picpro_landscape_trp_final.png" style="max-width:85%; max-height:85%">
  </mat-toolbar>

  <mat-progress-bar mode="indeterminate" *ngIf="picproService.isLoading$ | async"></mat-progress-bar>

  <div class="content-container space-x-10 mat-elevation-z1">

    <div class="align-middle">
      <mat-form-field appearance="fill">
        <mat-label>Select a stored image</mat-label>
        <mat-select [(value)]="chosenImageName">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let image of images" [value]="image">
            {{ image }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="align-middle spacing-small">
      <button mat-raised-button id="chooseImageBtn" color="primary" (click)="triggerImageRetrieval()"
        [disabled]="!chosenImageName">Choose</button>
    </div>

    <div class="align-middle spacing-large">OR</div>

    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

    <div class="align-middle spacing-large">
      <button mat-mini-fab color="primary" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>

    <div class="align-middle spacing-small">
      <mat-form-field appearance="fill">
        <mat-label>Image name</mat-label>
        <input matInput autofocus type="text" [disabled]="!inputImage" [(ngModel)]="inputImageName"
          (keyup.enter)="triggerInputImageUpload()">
        <button *ngIf="inputImage" matSuffix mat-icon-button aria-label="Clear" (click)="inputImageName=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="align-middle spacing-small">
      <button mat-raised-button id="uploadBtn" color="primary" (click)="triggerInputImageUpload()"
        [disabled]="!inputImage || uploaded || !inputImageName">Upload</button>
    </div>
  </div>

  <div class="images-container-parent" *ngIf="inputImage">
    <div class="image-display left">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ uploaded ? 'Input Image' : 'Input Image Preview' }}
            <mat-icon class="inline-flex align-middle">
              {{ uploaded ? 'check' : 'pending' }}
            </mat-icon>
          </mat-card-title>
          <mat-card-subtitle>{{inputImage.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="inputImage.url">
        <mat-card-content>
          <div *ngIf="inputImage.metadata as data">
            <mat-card-title>Metadata</mat-card-title>
            <pre>
  Name: {{ inputImage.name }}
  Format: {{ data.format | uppercase }}
  Size: {{ data.size | bytes:false }}
  Dimension: {{ data.width }} x {{ data.height }} px
  Density {{ data.density }} dpi
  Channels: {{ data.channels }}
            </pre>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Transform</button>
          <button mat-raised-button>Reset</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="image-display right" *ngIf="outputImage">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Output image</mat-card-title>
          <mat-card-subtitle>{{outputImage.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="outputImage.url">
        <mat-card-content>
          <div *ngIf="outputImage.metadata as data">
            <mat-card-title>Metadata</mat-card-title>
            <pre>
  Name: {{ outputImage.name }}
  Format: {{ data.format | uppercase }}
  Size: {{ data.size | bytes:false }}
  Dimension: {{ data.width }} x {{ data.height }} px
  Density {{ data.density }} dpi
  Channels: {{ data.channels }}
            </pre>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Use as input</button>
          <button mat-button (click)="onInputImageReset()">Reset</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</body>

</html>